app = "cfi-backend"
primary_region = "gru"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = false   
  min_machines_running = 1      
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 2         
  memory = "2gb"   
 
